@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #eee;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.container {
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-all {
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(214, 202, 202);
    padding: 5px 10px;
    background-color: rgb(198, 0, 0);
    border-radius: 15px;
}
.name-app {
    font-size: 45px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.input-notes {
    display: flex;
    flex-direction: column;
}
.note-title {
    width: 50%;
    padding: 10px;
    outline: none;
    font-size: 18px;
}
.note-details {
    width: 50%;
    padding: 10px;
    height: 100px;
    margin: 15px 0px;
    outline: none;
    font-size: 18px;
}
.btn-add {
    width: 50%;
    margin-top: 10px;
    padding: 10px 0px;
    font-size: 16px;
    background-color: rgb(5, 29, 145);
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
    display: none;
    -webkit-tap-highlight-color: transparent;
}
.btn-add.active {
    display: block;
}
.btn-add:hover {
    background-color: rgba(5, 29, 145, 0.9);
}
h2 {
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.notes {
    margin-top: 10px;
}
.list-notes {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.note {
    flex: 0 0 49%;
    max-width: 49%;
    border: 1px solid #333;
    background-color: #fff;
    transition: all 0.2s;
}
.note.checked {
    opacity: .3;
}
.header-note {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.note-counter {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
.check-delete {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.check-delete:checked {
    background-color: rgb(17, 174, 221);
}
.title {
    font-size: 20px;
    padding: 3px 10px;
    text-transform: capitalize;
    font-family: "Signika Negative";
}
.note-text {
    padding: 0px 10px;
    word-wrap: break-word;
    font-size: 16px;
}
.wrapper-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 10px;
}
.btn-control {
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    -webkit-tap-highlight-color: transparent;
}
.delete {
    background-color:rgb(198, 12, 89);
    font-size: 16px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.edit {
    font-size: 16px;
    color: #fff;
    outline: none;
    border: none;
    background-color: rgb(3, 65, 92);
    cursor: pointer;
    border-radius: 3px;
}
.time {
    font-size: 11px;
    display: block;
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
    font-weight: 500;
    color: #333;
    font-style: italic;
}

/* calculator */
.wraper-cal {
    width: 100%;
    height: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: -100%;
    transition: all 0.2s;
    cursor: pointer;
}
.overlay.active {
    top: 0;
}

.cal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: antiquewhite;
    padding: 15px 10px;
    top: -100%;
    transition: all 0.2s;
    border-radius: 5px;
}
.cal-container.active {
    top: 50%;
}
.cal-display {
    background:rgb(152, 157, 158);
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.display {
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    text-align: right;
    overflow-x: auto;
}
.cal-body {
    margin-top: 10px;
    width: 100%;
}
.btn-control-practive {

}
.lists {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.btn {
    flex: 0 0 25%;
    max-width: 25%;
    height: 55px;
    padding-left: -4px;
    padding-right: -4px;
    background-color: cornflowerblue;
    border: 1px solid #ccc;
}
.number {
    cursor: pointer;
}
.ac-all {
    flex: 0 0 50%;
    max-width: 50%;
}
.btn.ans-btn {
    flex: 0 0 50%;
    max-width: 50%;
}
.number,
.cal-logic {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 100%;
    height: 100%;
}
.ans-btn .answer {
    font-size: 30px;
}
.more-funs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    padding: 5px 10px;
}
.calculator img {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    cursor : pointer;
}

@media (max-width: 739px) {
    .wrapper {
        width: 95%;
    }
    .name-app {
        text-align: center;
        font-size: 30px;
    }
    .note-title,
    .note-details,
    .btn-add {
        width: 100%;
    }
    h2 {
        text-align: center;
        font-size: 30px;
    }
    .delete-all {
        font-size: 15px;
    }
    .note {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .btn-control {
        padding: 10px;
        font-size: 14px;
    }
    .wraper-cal {
        padding: 0px 10px;
    }
    .cal-container {
        width: 100%;
    }
    .btn {
        flex: 0 0 25%;
        height: 50px;
    }
    .ac-all {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .btn.ans-btn {
        flex: 0 0 50%;
    }
    
}